html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  background-color: #d8eaea;
  background-image: url("http://colourlovers.com.s3.amazonaws.com/images/patterns/2596/2596465.png"); }
  html body {
    background: none;
    width: 890px;
    padding: 56px 23px 15px;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    html body header {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 46px;
      font-family: Lobster;
      background-color: white;
      text-align: center;
      font-size: 38px;
      line-height: 36px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      cursor: default;
      color: #d8eaea;
      text-shadow: 0px 2px 1px #bbb;
      z-index: 2; }
    html body #people {
      background-color: white;
      width: 290px;
      position: relative;
      margin-bottom: 10px;
      line-height: 16px;
      border-radius: 6px;
      background-clip: padding-box;
      border: 1px solid #e1e8ed;
      padding: 15px; }
      html body #people div {
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    html body #newPerson {
      background-color: white;
      width: 290px;
      position: relative;
      margin-bottom: 10px;
      line-height: 16px;
      border-radius: 6px;
      background-clip: padding-box;
      border: 1px solid #e1e8ed;
      padding: 15px; }
      html body #newPerson button {
        width: 100%; }
    html body #timeline {
      background-color: white;
      width: 544px;
      position: relative;
      margin-bottom: 10px;
      line-height: 16px;
      border-radius: 6px;
      background-clip: padding-box;
      border: 1px solid #e1e8ed;
      padding: 15px;
      float: right;
      padding: 0; }
      html body #timeline div {
        position: relative;
        padding: 1em;
        border-bottom: 1px solid #e1e8ed; }
        html body #timeline div img {
          width: 100%;
          display: block; }
        html body #timeline div label {
          width: 100%;
          white-space: pre-wrap;
          word-wrap: break-word;
          display: block; }
        html body #timeline div img + label, html body #timeline div iframe + label {
          margin-top: 1em; }
      html body #timeline #load-more {
        width: 100%; }
    html body #up-link {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 1em;
      color: #333333; }
    html body #up-link:hover {
      background-color: rgba(255, 255, 255, 0.5); }

i {
  text-decoration: underline;
  cursor: pointer; }

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #e1e8ed;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #e1e8ed;
  background-image: -webkit-linear-gradient(white, #e1e8ed);
  background-image: linear-gradient(white, #e1e8ed);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

button:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

button:hover {
  color: #000; }

input {
  display: block;
  height: 30px;
  margin: 6px auto;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

*:focus {
  -webkit-box-shadow: 0 0 0 1px white, 0 0 0 3px rgba(0, 132, 180, 0.5);
  box-shadow: 0 0 0 1px white, 0 0 0 3px rgba(0, 132, 180, 0.5);
  outline: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h4 {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #aaa;
  line-height: 1em; }
